node_modules
.pnpm-store
dist
build
.next
.vite
coverage
.firebase
firebase-debug.log
firestore-debug.log
*.log

# Env e segredos
.env
.env.*
!.env.example
.runtimeconfig.json
serviceAccountKey*.json

# Editor
.DS_Store
.idea
.vscode/*
!.vscode/settings.json.example
!.vscode/extensions.json

# Artefatos gerados
/packages/shared/dist
/apps/web/dist
/apps/functions/lib
/packages/feature-flags/dist
schema.json
.turbo
playwright-report
test-results
